py~=1.10.0
colorama~=0.4.4
pip~=21.1.2
wheel~=0.36.2
attrs~=21.2.0
toml~=0.10.2
MarkupSafe~=2.0.1
Werkzeug~=2.0.1
Jinja2~=3.0.1
click~=8.0.1
itsdangerous~=2.0.1
pytest~=6.2.5
pluggy~=1.0.0
iniconfig~=1.1.1
atomicwrites~=1.4.0
greenlet~=1.1.2
pyparsing~=2.4.7
setuptools~=57.0.0
SQLAlchemy~=1.4.25
PyMySQL~=1.0.2
Flask~=2.0.1
six~=1.16.0
Flask-SQLAlchemy
Flask-Login
cryptography~=35.0.0
pycparser~=2.20