{% extends "base.html" %}



{% block content %}

<style>
    .gallery {overflow: hidden; width: 480px;}
    .gallery .ramka { float: left; margin-right: 10px; margin-bottom: auto;}
    .gallery img {width: 500px; height: 500px; object-fit: cover; }
</style>

<h1 class="title">
  Users photos
</h1>
{% for user_image in all_img %}
    <div class="gallery">
    <p>"{{ user_image.owner }}"</p>
    <img src="{{ user_image.path }}" alt="User Image"-->
        <a href="{{ url_for('photo_operation.show_comments', photo_id=user_image.id) }}">Show comments</a>
    {% if current_user.has_liked_photo(user_image) %}
        <a href="{{ url_for('photo_operation.like_action', photo_id=user_image.id, action='unlike') }}">Unlike</a>
    {% else %}
        <a href="{{ url_for('photo_operation.like_action', photo_id=user_image.id, action='like') }}">Like</a>
    {% endif %}
        {{ user_image.likes.count() }} likes
    </div>
{% endfor %}

{% endblock %}