{% extends "base.html" %}

{% block content %}
    <h1 class="title">
      Users photos
    </h1>
    <div class="photo_post">
<!--        <p>im user</p>-->
        <p>"{{ user_image.owner }}"</p>
        <img src="..\{{ user_image.path }}" alt="User Image"-->

    {% if current_user.has_liked_photo(user_image) %}
        <a href="{{ url_for('main.like_action', photo_id=user_image.photo_id, action='unlike') }}">Unlike</a>
    {% else %}
        <a href="{{ url_for('main.like_action', photo_id=user_image.photo_id, action='like') }}">Like</a>
    {% endif %}
        {{ user_image.likes.count() }} likes
    </div>

    {% for comment in all_comments %}
    <div class="block_comments">
        <p>{{ comment.user }}: {{ comment.text }}: {{ comment.created_date }}</p>
    </div>
    {% endfor %}
    <form method="POST" action="">
        <div class="control">
            <input class="input is-large" type="comment" name="comment" placeholder="Add your comment" autofocus="">
        </div>
        <button class="button is-block is-info is-large is-fullwidth">Add comment</button>
    </form>
{% endblock %}